/* #region assets */

/* #region colors */

:root{
    --primary:#7c69a4;
    --secondary:#f7972e;
    --col-title:#4e3969;
    --col-bg:#f6f5f3;
}

/* #endregion colors */

/* #region grid */

.container{
    width: 100%;
    margin: auto;
}



.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 575px){
    
    .hide-min-sm{
        display: none;
    }

    .show-min-sm{
        display: block;
    }

    header>.container{
        text-align: center;
    }
    
    .col-sm-1{
        width: calc((100% / 12)*1);
    }

    .col-sm-2{
        width: calc((100% / 12)*2);
    }

    .col-sm-3{
        width: calc((100% / 12)*3);
    }

    .col-sm-4{
        width: calc((100% / 12)*4);
    }

    .col-sm-5{
        width: calc((100% / 12)*5);
    }

    .col-sm-6{
        width: calc((100% / 12)*6);
    }

    .col-sm-7{
        width: calc((100% / 12)*7);
    }

    .col-sm-8{
        width: calc((100% / 12)*8);
    }

    .col-sm-9{
        width: calc((100% / 12)*9);
    }

    .col-sm-10{
        width: calc((100% / 12)*10);
    }

    .col-sm-11{
        width: calc((100% / 12)*11);
    }

    .col-sm-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (min-width: 768px){
    
    header>.container{
        text-align: left;
        padding-left: 1.5rem;
    }

    .col-md-1{
        width: calc((100% / 12)*1);
    }

    .col-md-2{
        width: calc((100% / 12)*2);
    }

    .col-md-3{
        width: calc((100% / 12)*3);
    }

    .col-md-4{
        width: calc((100% / 12)*4);
    }

    .col-md-5{
        width: calc((100% / 12)*5);
    }

    .col-md-6{
        width: calc((100% / 12)*6);
    }

    .col-md-7{
        width: calc((100% / 12)*7);
    }

    .col-md-8{
        width: calc((100% / 12)*8);
    }

    .col-md-9{
        width: calc((100% / 12)*9);
    }

    .col-md-10{
        width: calc((100% / 12)*10);
    }

    .col-md-11{
        width: calc((100% / 12)*11);
    }

    .col-md-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 992px){
    
    .show-min-lg{
        display: block;
    }

    .container-lg{
        width: 80%;
        margin: auto;
        max-width: 1000px;
    }

    .col-lg-1{
        width: calc((100% / 12)*1);
    }

    .col-lg-2{
        width: calc((100% / 12)*2);
    }

    .col-lg-3{
        width: calc((100% / 12)*3);
    }

    .col-lg-4{
        width: calc((100% / 12)*4);
    }

    .col-lg-5{
        width: calc((100% / 12)*5);
    }

    .col-lg-6{
        width: calc((100% / 12)*6);
    }

    .col-lg-7{
        width: calc((100% / 12)*7);
    }

    .col-lg-8{
        width: calc((100% / 12)*8);
    }

    .col-lg-9{
        width: calc((100% / 12)*9);
    }

    .col-lg-10{
        width: calc((100% / 12)*10);
    }

    .col-lg-11{
        width: calc((100% / 12)*11);
    }

    .col-lg-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 1200px){
    
    

    .col-xl-1{
        width: calc((100% / 12)*1);
    }

    .col-xl-2{
        width: calc((100% / 12)*2);
    }

    .col-xl-3{
        width: calc((100% / 12)*3);
    }

    .col-xl-4{
        width: calc((100% / 12)*4);
    }

    .col-xl-5{
        width: calc((100% / 12)*5);
    }

    .col-xl-6{
        width: calc((100% / 12)*6);
    }

    .col-xl-7{
        width: calc((100% / 12)*7);
    }

    .col-xl-8{
        width: calc((100% / 12)*8);
    }

    .col-xl-9{
        width: calc((100% / 12)*9);
    }

    .col-xl-10{
        width: calc((100% / 12)*10);
    }

    .col-xl-11{
        width: calc((100% / 12)*11);
    }

    .col-xl-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 1400px){
    
    .col-xxl-1{
        width: calc((100% / 12)*1);
    }

    .col-xxl-2{
        width: calc((100% / 12)*2);
    }

    .col-xxl-3{
        width: calc((100% / 12)*3);
    }

    .col-xxl-4{
        width: calc((100% / 12)*4);
    }

    .col-xxl-5{
        width: calc((100% / 12)*5);
    }

    .col-xxl-6{
        width: calc((100% / 12)*6);
    }

    .col-xxl-7{
        width: calc((100% / 12)*7);
    }

    .col-xxl-8{
        width: calc((100% / 12)*8);
    }

    .col-xxl-9{
        width: calc((100% / 12)*9);
    }

    .col-xxl-10{
        width: calc((100% / 12)*10);
    }

    .col-xxl-11{
        width: calc((100% / 12)*11);
    }

    .col-xxl-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (max-width: 575px){
    .hide-max-sm{
        display: none;
    }

    header>.container{
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .hide-md{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .hide-max-lg{
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .hide-xl{
        display: none;
    }
}

@media screen and (max-width: 1400px){
    .hide-xxl{
        display: none;
    }
}

.col-1{
    width: calc((100% / 12)*1);
}

.col-2{
    width: calc((100% / 12)*2);
}

.col-3{
    width: calc((100% / 12)*3);
}

.col-4{
    width: calc((100% / 12)*4);
}

.col-5{
    width: calc((100% / 12)*5);
}

.col-6{
    width: calc((100% / 12)*6);
}

.col-7{
    width: calc((100% / 12)*7);
}

.col-8{
    width: calc((100% / 12)*8);
}

.col-9{
    width: calc((100% / 12)*9);
}

.col-10{
    width: calc((100% / 12)*10);
}

.col-11{
    width: calc((100% / 12)*11);
}

.col-12{
    width: calc((100% / 12)*12);
}


/* #endregion grid */

/* #region generals */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

body{
    overflow-x: hidden;
}

strong{
    font-weight: 700;
}

/* #endregion generals */

/* #region utilities */

.d-flex{
    display: flex;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

/* #endregion utilities */

/* #endregion assets */

/* #region header */



.container>.title-header{
    font-family: "Nerko One", cursive;
    font-weight: 600;
    font-style: normal;
    color: var(--secondary);
    font-size: 4rem;
    padding-bottom: 1rem;
}

/* #endregion header */

/* #region main */

main{
    background-color: var(--col-bg);
    padding: 1.5rem;
}

/* #region preview */

#preview{
    .container{
        p {
            color: lightgray;
            font-size: 1.2rem;
        }

        .col-md-8{
            h3 {
                font-size: 1.8rem;
                font-weight: 700;
            }
            
            
        }
    }
}

.star{
    color: var(--secondary);
}

.rating{
    font-size: 1.8rem;
}

.rating>strong{
    font-weight: 700;
}

.rate{
    text-decoration: none;
    color: white;
    background-color: var(--secondary);
    padding: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 50px;
    font-size: 1.8rem;
    margin-right: 1em;
}

.box-img , .box-desc{
    margin-top: 1rem;
}

.box-img>img{
    width: 100%;
    height: auto;
    max-height: 600px;
}

.box-desc{
    background-color: white;
    padding: 1rem;

}

.label{
    background-color: var(--col-bg);
    font-size: 1.2rem;
    padding: 1rem;
    div {
        strong {
            font-weight: 700;
        }
    }
}

.calorie{
    padding: 0.5rem;
    background-color: var(--primary);
    color: white;
    
}

.info-btn{
    text-decoration: none;
    color: var(--secondary);
    font-weight: 700;
}

.spacer{
    margin: 1rem 0;
}

.info-ricetta>div{
    margin: 0.3rem 0;
}




/* #endregion preview */

/* #region socials */

.social-networks{
    gap: 3%;
    margin: 1rem 0;
}

.social-networks>div{
    background-color: white;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
}

/* #endregion socials */

/* #endregion main */